<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->        
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1>Rango says..hello {{ user.username }}!</h1>
        <a href="/rango/restricted/">Membership</a>
        <a href="/rango/logout/">Logout</a>
        <a href="/rango/add_category/">Add a new category</a>
        {% else %}
        <h1>Rango says...hello world</h1>
        <a href="/rango/register/">Register here!</a>
        <a href="/rango/login/">Login</a>
        {% endif %}

        <br/>
        {% if categories %}
        <ul>
            {% for cate in categories %}
            <li><a href="/rango/category/{{ cate.url }}">{{ cate.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}

        {% if top_pages %}
        <h2> Top viewed pages </h2>
        <ul>
            {% for page in top_pages %}
            <li><a href = "{{ page.url }}">{{ page.title }}</a><p>Number of views: {{ page.views }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <a href="/rango/about/">About</a><br />
        <img src="{% static 'rango_pic.jpg' %}" alt="Picture of Rango"/>
        <br>
    </body>

</html>
